@model ClientServerMVCDemo.ViewModels.Client.ClientEditViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.Id" />
            <div class="form-group">
                <label asp-for="Client.Name" class="control-label"></label>
                <input asp-for="Client.Name" class="form-control" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Description" class="control-label"></label>
                <input asp-for="Client.Description" class="form-control" />
                <span asp-validation-for="Client.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <hr/>
                <label>Properties</label>
                @if (Model.Client.Properties != null)
                {
                    @for(int i = 0; i < Model.Client.Properties.Count; i++)
                    {
                       <input type="hidden" asp-for="@Model.Client.Properties[i].Id" />
                       <input type="hidden" asp-for="@Model.Client.Properties[i].ClientId" />
                       <hr/>
                       <div class="form-group row">
                           <label class="col-lg-3 col-form-label">@Model.Client.Properties[i].Key</label>
                            <input type="hidden" asp-for="@Model.Client.Properties[i].Key" />
                           <div class="col-lg-9">
                                <input asp-for="@Model.Client.Properties[i].Value" value="@Model.Client.Properties[i].Value" class="form-control">
                           </div>
                           <div class"col-lg-9">
                                <label class="col-lg-3 col-form-label">Delete?</label>
                                <input asp-for="@Model.PropertiesToDelete[i]"/>
                           </div>
                      </div>
                    }
                }
            </div>
            <div class="form-group">
                <hr/>
                <label asp-for="NewPropertyName" class="control-label"></label>
                <input asp-for="NewPropertyName" class="form-control" />

                <label asp-for="NewPropertyValue" class="control-label"></label>
                <input asp-for="NewPropertyValue" class="form-control" />
            </div>
            <div class="form-group">
                <br/>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
